.botoes{
    padding: 20px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 20px;
}

.botoes:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}

#conteudo{
    width: 98%;
    margin: auto;
    border:  1px solid gray;
    margin-top: 30px;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}